/*
    1) Изменить путь создания БД;
    2) Запустить скрипт два раза (в первый напишет, что БД не создана);
    3) Проверить, что пользователь user создан на сервере (Security - Logins);
    4) В properties пользователя (General) задать пароль password
    5) В properties пользователя (Status) выставить поле Login в стаутс Enabled;
*/

USE [BitBot]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pair]') AND type in (N'U'))
ALTER TABLE [dbo].[Pair] DROP CONSTRAINT IF EXISTS [FK_Pair_Currency1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pair]') AND type in (N'U'))
ALTER TABLE [dbo].[Pair] DROP CONSTRAINT IF EXISTS [FK_Pair_Currency]
GO
/****** Object:  Table [dbo].[TradeDirection]    Script Date: 10.12.2019 1:55:19 ******/
DROP TABLE IF EXISTS [dbo].[TradeDirection]
GO
/****** Object:  Table [dbo].[Trade]    Script Date: 10.12.2019 1:55:19 ******/
DROP TABLE IF EXISTS [dbo].[Trade]
GO
/****** Object:  Table [dbo].[Pair]    Script Date: 10.12.2019 1:55:19 ******/
DROP TABLE IF EXISTS [dbo].[Pair]
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 10.12.2019 1:55:19 ******/
DROP TABLE IF EXISTS [dbo].[Currency]
GO
/****** Object:  User [user]    Script Date: 10.12.2019 1:55:19 ******/
DROP USER IF EXISTS [user]
GO
USE [master]
GO
/****** Object:  Login [user]    Script Date: 10.12.2019 1:55:19 ******/
IF  EXISTS (SELECT * FROM sys.server_principals WHERE name = N'user')
DROP LOGIN [user]
GO
/****** Object:  Database [BitBot]    Script Date: 10.12.2019 1:55:19 ******/
DROP DATABASE IF EXISTS [BitBot]
GO
/****** Object:  Database [BitBot]    Script Date: 10.12.2019 1:55:19 ******/
CREATE DATABASE [BitBot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BitBot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BitBot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BitBot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BitBot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BitBot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [user]    Script Date: 10.12.2019 1:55:19 ******/
CREATE LOGIN [user] WITH PASSWORD=N'D1gjCSlip+IR8jD1KFXPq8gDHyzihBIbCQfOtpO/J9M=', DEFAULT_DATABASE=[BitBot], DEFAULT_LANGUAGE=[русский], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [user] DISABLE
GO
USE [BitBot]
GO
/****** Object:  User [user]    Script Date: 10.12.2019 1:55:19 ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [user]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
GRANT CONNECT TO [user] AS [dbo]
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 10.12.2019 1:55:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ticker] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Currency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Currency] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Pair]    Script Date: 10.12.2019 1:55:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pair](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ticker] [nchar](10) NOT NULL,
	[BaseCurrency] [int] NOT NULL,
	[QuoteCurrency] [int] NOT NULL,
 CONSTRAINT [PK_Pair] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Pair] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Trade]    Script Date: 10.12.2019 1:55:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pair] [int] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[TradeDirection] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Amount] [float] NOT NULL,
 CONSTRAINT [PK_Trade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Trade] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[TradeDirection]    Script Date: 10.12.2019 1:55:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradeDirection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Direction] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TradeDirection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[TradeDirection] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Currency] ON 

INSERT [dbo].[Currency] ([Id], [Ticker]) VALUES (1, N'BTC       ')
INSERT [dbo].[Currency] ([Id], [Ticker]) VALUES (2, N'USD       ')
INSERT [dbo].[Currency] ([Id], [Ticker]) VALUES (3, N'EUR       ')
SET IDENTITY_INSERT [dbo].[Currency] OFF
SET IDENTITY_INSERT [dbo].[Pair] ON 

INSERT [dbo].[Pair] ([Id], [Ticker], [BaseCurrency], [QuoteCurrency]) VALUES (1, N'BTCUSD    ', 2, 1)
INSERT [dbo].[Pair] ([Id], [Ticker], [BaseCurrency], [QuoteCurrency]) VALUES (3, N'BTCEUR    ', 3, 1)
SET IDENTITY_INSERT [dbo].[Pair] OFF
SET IDENTITY_INSERT [dbo].[Trade] ON 

INSERT [dbo].[Trade] ([Id], [Pair], [Timestamp], [TradeDirection], [Price], [Amount]) VALUES (1, 1, CAST(N'2016-05-05T04:50:46.067' AS DateTime), 2, 447.43, 1377)
INSERT [dbo].[Trade] ([Id], [Pair], [Timestamp], [TradeDirection], [Price], [Amount]) VALUES (2, 1, CAST(N'2016-05-05T04:51:29.800' AS DateTime), 2, 447.41, 100)
INSERT [dbo].[Trade] ([Id], [Pair], [Timestamp], [TradeDirection], [Price], [Amount]) VALUES (3, 1, CAST(N'2016-05-05T04:57:51.067' AS DateTime), 2, 447.21, 833)
GO
SET IDENTITY_INSERT [dbo].[Trade] OFF
SET IDENTITY_INSERT [dbo].[TradeDirection] ON 

INSERT [dbo].[TradeDirection] ([Id], [Direction]) VALUES (1, N'Sell      ')
INSERT [dbo].[TradeDirection] ([Id], [Direction]) VALUES (2, N'Buy       ')
SET IDENTITY_INSERT [dbo].[TradeDirection] OFF
ALTER TABLE [dbo].[Pair]  WITH CHECK ADD  CONSTRAINT [FK_Pair_Currency] FOREIGN KEY([BaseCurrency])
REFERENCES [dbo].[Currency] ([Id])
GO
ALTER TABLE [dbo].[Pair] CHECK CONSTRAINT [FK_Pair_Currency]
GO
ALTER TABLE [dbo].[Pair]  WITH CHECK ADD  CONSTRAINT [FK_Pair_Currency1] FOREIGN KEY([QuoteCurrency])
REFERENCES [dbo].[Currency] ([Id])
GO
ALTER TABLE [dbo].[Pair] CHECK CONSTRAINT [FK_Pair_Currency1]
GO
USE [master]
GO
